*{
    font-family: Arial, Helvetica, sans-serif
    font-size 16px ;
}

body{
    background-color: rgb(184, 211, 211);
}

main{
    background-color: rgba(13, 118, 238, 0.308);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5 px brgba(0, 0, 0, 0.055)
}